/*
Author: Anjan Roy<anjanroy@yandex.com>
*/
html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: darkslategrey;
}

p{
  color: bisque;
  font-size: 20px;
}

#parentDiv{
  padding: 12px;
  margin: 12px;
}

a:link{
  color: white;
}
a:visited{
  color: darksalmon;
}

a:hover{
  color: aqua;
}

a:active{
  color: crimson;
}